<form [ngFormModel]="form" (ngSubmit)="signup(form)">
    <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input 
            id="currentPassword"
            type="password" 
            ngControl="currentPassword" 
            #currentPassword="ngForm"              
            class="form-control">
        <div *ngIf="currentPassword.touched && currentPassword.errors">            
            <div 
                class="alert alert-danger" 
                *ngIf="currentPassword.errors.required">
                Required
            </div>
            <div
                class="alert alert-danger"
                *ngIf="currentPassword.errors.shouldBeValid">
                Invalid password
            </div>
        </div>            
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input 
            type="password" 
            ngControl="newPassword" 
            #newPassword="ngForm" 
            id="newPassword" 
            class="form-control">
        <div *ngIf="newPassword.touched && newPassword.errors">            
            <div 
                class="alert alert-danger" 
                *ngIf="newPassword.errors.required">
                Required
            </div>
            <div
                class="alert alert-danger"
                *ngIf="newPassword.errors.cannotContainSpace">
                Invalid password
            </div>             
        </div>  
        <div
            class="alert alert-danger"
            *ngIf="form.errors && form.errors.passwordsShouldMatch">
            Password do not match
        </div>                     
    </div>    
    <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input 
            type="password" 
            ngControl="confirmNewPassword" 
            #confirmNewPassword="ngForm" 
            id="confirmNewPassword" 
            class="form-control">
        <div *ngIf="confirmNewPassword.touched && confirmNewPassword.errors">            
            <div 
                class="alert alert-danger" 
                *ngIf="confirmNewPassword.errors.required">
                First name is required
            </div>
            <div
                class="alert alert-danger"
                *ngIf="confirmNewPassword.errors.cannotContainSpace">
                Invalid password
            </div>        
        </div>   
        <div
            class="alert alert-danger"
            *ngIf="form.errors && form.errors.passwordsShouldMatch">
            Password do not match
        </div>                     
    </div>    
    <button class="btn btn-primary" type="submit">Submit</button>    
</form>